.basic {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border: 0px solid #fff;
  
  float: left;
  outline: 0;
  display: inline-block; 
  margin-bottom: 0px;
  margin-right: 0px;

  position: absolute;

  padding: 5px;
  
}

.basic:focus {
  background-color: #FF69B4;
}

#container {
	border: 1px solid black;
  background-color: #fff;
  margin: 0 auto;

  position: relative;
}